#countLabel{
    display: block;
    text-align: center;
    font-size: 50px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 40px;
    grid-gap: 10px;
    margin: 0 50px 0 50px;
}
